body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/* Parent container styles */
#parentA, #parentB {
    height: 50vh; /* Each parent takes up half of the viewport height */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center the content */
    align-items: center; /* Horizontally center the content */
    box-sizing: border-box;
}

#parentA {
    background-color: #0b5345; /* Light blue background */
}

#parentB {
    background-color: #1a5276; /* White background */
}


/* Text styles for all divs */
div {
    color: #f8f9f9; /* Blue text color */
    font-size: 27px;
    margin: 0px 0;
}

@media screen and (max-width: 768px) {
    div {
        font-size: 18px;
        margin: 10px 0;
    }
}

/* Small mobile devices */
@media screen and (max-width: 480px) {
    div {
        font-size: 20px;
        margin: 12px 0;
    }
}
