body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/* Parent container styles */
#parentA, #parentB {
    height: 50vh; /* Each parent takes up half of the viewport height */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center the content */
    align-items: center; /* Horizontally center the content */
    box-sizing: border-box;
}

#parentA {
    background-color: #0b5345; /* Light blue background */
}

#parentB {
    background-color: #1a5271; /* White background */
}


/* Text styles for all divs */
div {
    color: #ebedef; /* Blue text color */
    margin: 0px 0;
}

.text {
    font-size: 40%;
}


